@font-face {
    font-family: Proxima;
    src: url('../font/ProximaNovaFont.otf') format('opentype');
}
.hidden {
    display: none;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #E4DBDE;
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
h1, p, span, button {
    font-family: 'Noto Serif TC', serif;
}
h1 {
    color: #3B3B3B;
    font-weight: 700;
    font-size: 2.5em;
}
/* For desktop devices */
@media only screen and (min-width: 768px) {
    body {
        background-image: url('../img/start_desktop_full.png');
    }
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        background-image: url('../img/start_mobile_full.png');
        animation: moveBackground 1s forwards;
    }
}
nav {
    background-color: transparent;
}
.nb-logo {
    width: 85px;
    height: auto;
}
.nb-logo-r {
    width: 85px;
    height: auto;
}
.link-logo {
    width: 40px;
    height: auto;
}
h3 {
    margin-top: 12%;
    text-align: left;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Proxima', sans-serif;
    font-size: x-large;
}
.title {
    color: white;
    font-size: larger;
    font-weight: 200;
    letter-spacing: 15px;
    font-family: 'Proxima', sans-serif;
    animation: fadeIn 1s ease-in forwards;
}
.subtitle {
    color: #555294;
    font-size: x-large;
    font-weight: 200;
    font-family: 'Proxima', sans-serif;
    animation: fadeIn 0.5s ease-in forwards;
}
.img_9060 {
    width: 60%;
    margin-top: 15%;
    animation: fadeIn 1s ease-in forwards;
}
/* For desktop devices */
@media only screen and (min-width: 768px) {
    .img_9060 {
        width: 25%;
        margin-top: 5%;
    }
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    .img_9060 {
        width: 60%;
        margin-top: 15%;
    }
}
#start_big_ball{
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    max-width: 1000px;
    width: 300%;
    transform: translate(-50%, 44%);
}
#start_building{
    position: absolute;
    z-index: -1;
    max-width: 160px;
    left: 50%;
    top: 12%;
    transform: translate(-50%, 50%);
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    #start_building {
        top: 4%;
    }
}
.disclaimer {
    color: #353B3E;
    margin-bottom: 0;
}
@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
    
}
@keyframes bouncingCard {
    from { transform: translateY(0);}
    to {transform: translateY(-18px);}
}
.bouncing {
    animation: grow-shrink 1.2s ease-in-out infinite;
    
}
.invisible_btn {
    background-color: transparent;
    border: none;
    width: 100%;
}

#start-btn, #start-building-btn {
    margin: 0 auto;
    padding-top: 6%;
    padding-bottom: 6%;
    width: 64%;
    height: auto;
    color: white;
    background: linear-gradient(to right, #FDAA0A, #FF8845);
    border: none;
    border-radius: 60px;
    outline-offset: -12px;
    outline: 1px solid white;
    font-size: larger;
}
.next-btn {
    margin: 0 auto;
    width: 60%;
    height: 60px;
    color: white;
    background: linear-gradient(to right, #FDAA0A, #FF8845);
    border: none;
    border-radius: 60px;
    outline-offset: -12px;
    outline: 1px solid white;
}
.next-btn-6 {
    width: 100% !important;
}
.next-btn:disabled {
    opacity: 0.5;
}
.more-btn {
    margin: 0 auto;
    width: 60%;
    height: 60px;
    color: #3B3B3B;
    background: linear-gradient(to right, #FFFFE2, #FFFFFF);
    border: none;
    border-radius: 60px;
    outline-offset: -12px;
    outline: 1px solid #e9e9e9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.button {
    display: inline-block;
    font-family: 'Noto Serif TC', serif;
    font-size: inherit;
    line-height: inherit;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none; 
}
#inviteButton, #shareButton {
    margin: 0 auto;
    padding-top: 12%;
    padding-bottom: 12%;
    width: 60%;
    height: 60px;
    color: white;
    background: linear-gradient(to right, #FDAA0A, #FF8845);
    border: none;
    border-radius: 60px;
    cursor: pointer;
    outline-offset: -12px;
    outline: 1px solid white;
    line-height: 18px;
}
#start-building-btn {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 3s;
}
#mic-image {
    width: 90%;
    margin: 0 auto;
}
#mic-image-2 {
    width: 60%;
    margin: 0 auto;
}
#mic-image-3 {
    width: 60%;
    margin: 0 auto;
    margin-top: -60%;
}
/* For desktop devices */
@media only screen and (min-width: 768px) {
    #start-btn, #start-building-btn {
        width: 40%;
    }
    .ball-1 {
        top: -60% !important;
        left: -40% !important;
    }
    .ball-2 {
        bottom: -200% !important;
        left: -20px !important;
    }
    #mic-image {
        width: 40%;
    }
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    #start-btn, #start-building-btn {
        width: 64%;
    }
}
/* For desktop devices */
@media only screen and (min-width: 768px) {
    #opening_choice {
        width: 20%;
        animation: fadeIn 1s ease-in forwards;
    }
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    #opening_choice {
        width: 60%;
        animation: fadeIn 1s ease-in forwards;
    }
}
.view {
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    position: relative;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.ball-1{
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    border-radius: 50%;
    background: linear-gradient(45deg, #B25E3C, #FFFFE2);
    filter: blur(40px);
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: -1;
    animation-name: rotate;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.ball-2{
    width: 160%;
    height: 0;
    padding-bottom: 160%;
    border-radius: 50%;
    background: linear-gradient(0deg, #B25E3C, #FFFFE2);
    filter: blur(40px);
    position: absolute;
    bottom: -60%;
    left: -40px;
    z-index: -1;
    animation-name: rotate;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.ball-3{
    width: 140%;
    height: 0;
    padding-bottom: 140%;
    border-radius: 50%;
    background: linear-gradient(45deg, #B25E3C, #FFFFE2);
    filter: blur(40px);
    position: absolute;
    top: -20%;
    right: -40%;
    z-index: -1;
    animation-name: rotate;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.ball-4{
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    border-radius: 50%;
    background: linear-gradient(45deg, #B25E3C, #FFFFE2);
    filter: blur(40px);
    position: absolute;
    top: 0;
    right: -10%;
    z-index: -1;
    animation-name: rotate;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.ball-5{
    width: 140%;
    height: 0;
    padding-bottom: 140%;
    border-radius: 50%;
    background: linear-gradient(45deg, #B25E3C, #FFFFE2);
    filter: blur(40px);
    position: absolute;
    bottom: 10%;
    left: -20%;
    z-index: -1;
    animation-name: rotate;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.message-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 24%;
    border-radius: 100%;
    /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.25); */
}
.message-box::after, .message-box::before {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(255,255,255,0.6);
    border-radius: 100%;
    z-index: 1;
}

.message-box::after {
    animation: ripple 3s 0s infinite cubic-bezier(.65,0,.34,1);
}

.message-box::before {
    animation: ripple 3s 0.5s infinite cubic-bezier(.65,0,.34,1);
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(1,1,1.5);
    }
    to {
        opacity: 0;
        transform: scale3d(2,2,1.5);
    }
}
.text_content {
    position: absolute;
    top: 25%;
}
.conversation_content {
    font-size: 1.4em;
}

#view-1 {
    /* transform: translateX(0); */
    opacity: 1;
}
#view-7, #view-8 {
    margin-left: 0;
    margin-right: 0;
}
.form-check {
    padding: 0;
}
.q1-btn, .q3-btn {
    background: radial-gradient(50% 50% at 50% 50%, #A3E0CC 0%, #66B09F 100%);
}

#q1-btn, #q2-btn, #q3-btn {
    width: 20%;
    border: 0;
    border-radius: 20px;
    color: black;
}

.q2-btn, .q4-btn {
    background: radial-gradient(50% 50% at 50% 50%, #F8C5CB 0%, #E78A94 100%);
}
.boxed-text {
    border: black solid 1px;
    border-radius: 5px;
    background: transparent;
    width: 60%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0 auto;
}
/* Hide radio buttons */
input[type="radio"] {
    display: none;
}

/* Style labels to be selectable and show the selected state */
.custom-dropdown {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #FFF8E0;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 70%;
    height: 46px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}
.custom-dropdown select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Noto Serif TC', serif;
    text-align: center;
}
input[type="text"] {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 3%;
    border: 1px solid transparent;
    width: 70%;
    height: 46px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    background: #FFF8E0;
    
    font-family: 'Noto Serif TC', serif;
    font-weight: 600;
    text-align: center;
    font-size: medium;
}
.custom-checkbox {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    width: 100%;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox label {
    background-size: 100% 100%;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 0%;
}
#q3_1_lable { background-image: url(../img/q2_1.svg) }
#q3_2_lable { background-image: url(../img/q2_2.svg); padding-right: 20%;}
#q3_3_lable { background-image: url(../img/q2_3.svg) }
#q3_4_lable { background-image: url(../img/q2_4.svg) }

.custom-checkbox input[id="question_3_1"].selected + label {
    background-image: url(../img/q2_1d.svg) !important; 
}
.custom-checkbox input[id="question_3_2"].selected + label {
    background-image: url(../img/q2_2d.svg) !important; 
    padding-right: 20%;
}
.custom-checkbox input[id="question_3_3"].selected + label {
    background-image: url(../img/q2_3d.svg) !important; 
}
.custom-checkbox input[id="question_3_4"].selected + label {
    background-image: url(../img/q2_4d.svg) !important; 
}
.custom-checkbox2 {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    user-select: none;
}

.custom-checkbox2 input[type="checkbox"] {
    display: none;
}
.custom-checkbox2 label {
    background-size: 100% 100%;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: auto;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-bottom: 0%;
}
#q4_1_lable { background-image: url(../img/q5a.svg); }
#q4_1_lable span {display: inline-block; transform: rotate(-5deg);}
#q4_2_lable { background-image: url(../img/q5b.svg); }
#q4_3_lable span {display: inline-block; transform: rotate(-15deg); padding-right: 20%;}
#q4_3_lable { background-image: url(../img/q5c.svg); }
#q4_4_lable span {display: inline-block; transform: rotate(15deg);}
#q4_4_lable { background-image: url(../img/q5d.svg); }

.custom-checkbox2 input[id="question_4_1"].selected + label {
    background-image: url(../img/q5a_d.svg) !important; 
}
.custom-checkbox2 input[id="question_4_2"].selected + label {
    background-image: url(../img/q5b_d.svg) !important; 
}
.custom-checkbox2 input[id="question_4_3"].selected + label {
    background-image: url(../img/q5c_d.svg) !important; 
}
.custom-checkbox2 input[id="question_4_4"].selected + label {
    background-image: url(../img/q5d_d.svg) !important; 
}


input[type="radio"] + label {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 3%;
    border: 1px solid transparent;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    background: #FFF8E0;
    
    font-family: 'Noto Serif TC', serif;
    font-size: medium;
}

input[type="radio"]:hover + label {
    background: #FFEBA8;
}
input[type="radio"]:checked + label {
    background: #FFEBA8;
}
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
.processing_img {
    width: 15%;
    height: auto;
    animation: rotate-blink 2s linear infinite;
}
.processing_text {
    margin-top: 10%;
    text-align: center;
    font-size: medium;
}
.result_image, .share_result_image {
    max-width: 100%;
}
.record_message_box {
    padding-top: 5%;
    border: white solid 2px;
    border-radius: 5%;
}
#recordButton {
    margin: 0 auto;
    margin-top: 10%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FF8845;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
#recordButton img {
    width: 50px;
    height: auto;    
}
.notRec{
	background-color: white;
}

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(255,255,255,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(255,255,255,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(255,255,255,0);
	}
}
/* For large desktop devices */
@media only screen and (min-width: 1600px) {
    .result_image, .share_result_image {
        max-width: 36%;
    }
}
/* For desktop devices */
@media only screen and (min-width: 768px) and (max-width: 1599px) {
    .result_image, .share_result_image {
        max-width: 25%;
    }
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    .result_image {
        max-width: 100%;
        max-height: 50vh;
    }
    .share_result_image {
        max-width: 70%;
    }
}
.result_shoe {
    width: 70%;
    margin-bottom: 5%;
}
/* For desktop devices */
@media only screen and (min-width: 768px) {
    .result_shoe {
        width: 20%;
        margin-bottom: 5px;
    }
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    .result_shoe {
        width: 70%;
    }
}
.result_header {
    color: #121842;
    font-family: 'Proxima', sans-serif;
    font-size: x-large;
    font-weight: 1000;
    letter-spacing: 3px;
}
.result_line1 {
    color: #121842;
    font-family: 'Proxima', sans-serif;
    font-weight: 400;
    font-size: medium;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 3px;
}
.result_line2 {
    color: #121842;
    font-family: 'Proxima', sans-serif;
    font-size: large;
    letter-spacing: 3px;
}
.result_9060 {
    max-width: 24%;
}

.btn-bottom {
    width: 50%;
    border-radius: 0;
    height: 50px;
    color: white;
    font-family: 'Proxima', sans-serif;
    letter-spacing: 3px;
    padding-top: 12px;
}
/* For desktop devices */
@media only screen and (min-width: 768px) {
    .result_header {
        color: #121842;
        font-family: 'Proxima', sans-serif;
        font-size: large;
        font-weight: 600;
        letter-spacing: 3px;
    }
    .result_line1 {
        color: #121842;
        font-family: 'Proxima', sans-serif;
        font-weight: 400;
        font-size: small;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        letter-spacing: 3px;
    }
    .result_line1-1{
        font-size: large;
    }
    .result_line2 {
        color: #121842;
        font-family: 'Proxima', sans-serif;
        font-size: medium;
        letter-spacing: 3px;
    }
    .result_9060 {
        max-width: 6%;
    }
    .btn-bottom {
        width: 50%;
        border-radius: 0;
        height: 50px;
        color: white;
        font-family: 'Proxima', sans-serif;
        letter-spacing: 3px;
    }
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    .result_header {
        color: #121842;
        font-family: 'Proxima', sans-serif;
        font-size: x-large;
        font-weight: 1000;
        letter-spacing: 3px;
    }
    .result_line1 {
        color: #121842;
        font-family: 'Proxima', sans-serif;
        font-weight: 400;
        font-size: medium;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        letter-spacing: 3px;
    }
    .result_line1-1{
        font-size: x-large;
    }
    .result_line2 {
        color: #121842;
        font-family: 'Proxima', sans-serif;
        font-size: large;
        letter-spacing: 3px;
    }
    .result_9060 {
        max-width: 26%;
    }
    .btn-bottom {
        width: 50%;
        border-radius: 0;
        height: 50px;
        color: white;
        font-family: 'Proxima', sans-serif;
        letter-spacing: 3px;
    }
}
#btn-bottom-1, #btn-bottom-3 {
    background-image: url('/img/Purple Button-02.png');
    background-size: auto 100%;
}
#btn-bottom-2, #btn-bottom-4 {
    /* background-color: #9491CE; */
    background: linear-gradient(180deg, #9D9ACC 0%, #7571B5 78.26%);
}
.btn-share-again {
    width: 95%;
    height: 40px;
    background: radial-gradient(50% 50% at 50% 50%, #9D9ACC 0%, #7571AF 100%);
    border-radius: 40px;

    color: white;
    font-family: 'Proxima', sans-serif;
    font-size: small;
}
.btn-share-again:hover {
    border: 3px solid white;
    color: white;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeInOutLast {
    0% {
        opacity: 0;
    }
    25%, 100% {
        opacity: 1;
    }
}
@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes rotate-blink {
0% {
    transform: rotate(0deg);
    opacity: 1;
}
50% {
    transform: rotate(180deg);
    opacity: 0;
}
100% {
    transform: rotate(360deg);
    opacity: 1;
}
}
.animated_text-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#animated_text_1 {
    position: absolute;
    font-size: larger;
    opacity: 0;
    animation: fadeInOut 3s linear;
}
#animated_text_2 {
    position: absolute;
    font-size: larger;
    opacity: 0;
    animation: fadeInOut 3s linear;
    animation-delay: 3s;
}
#animated_text_3 {
    position: absolute;
    font-size: larger;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 6s;
}
#animated_img_1 {
    color: #555294;
    position: absolute;
    opacity: 0;
    animation: fadeInOut 1.5s linear;
}
#animated_img_2 {
    color: #555294;
    position: absolute;
    opacity: 0;
    animation: fadeInOut 1.5s linear;
    animation-delay: 1.5s;
}
#animated_img_3 {
    color: #555294;
    position: absolute;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
    animation-delay: 3s;
}
/* Style the button element */
.triangle-button {
    position: relative;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

/* Create a downward-pointing triangle using the ::after pseudo-element */
.triangle-button::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid white;
}
.gallery-title {
    color: #121842;
    font-family: 'Proxima', sans-serif;
    font-size: larger;
}
.gallery_image {
    width: 100%;
    margin-top: 20px;
}
.question_img, .question_img_gallery {
    max-width: 80%;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
/* For desktop devices */
@media only screen and (min-width: 768px) {
    .question_img {
        max-width: 24%;
    }
    .question_img_gallery {
        max-width: 20%;
    }
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    .question_img {
        max-width: 80%;
    }
    .question_img_gallery {
        max-width: 60%;
    }
}
.start_img {
    max-width: 60%;            
}
/* For desktop devices */
@media only screen and (min-width: 768px) {
    .start_img {
        max-width: 40%;
    }
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    .start_img {
        max-width: 60%;
    }
}
.hide-scrollbar {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0; /* For horizontal scrollbar */
}
/* For desktop devices */
@media only screen and (min-width: 768px) {
    .gallery {
        width: 60%;
        height: 44vh;
        margin: 0 auto;
    }
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    .gallery {
        width: 100%;
        height: 40vh;
    }
}
/* For desktop devices */
@media only screen and (min-width: 768px) {
    #city_building {
        max-width: 12%;
    }
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    #city_building {
        max-width: 30%;
    }
}
.question_nav {
    max-width: 16%;
}
/* For desktop devices */
@media only screen and (min-width: 768px) {
    .question_nav {
        max-width: 6%;
    }
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
    .question_nav {
        max-width: 16%;
    }
}
.share-buttons {
    display: flex;
    gap: 10px;
}
.social_icon{
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
}
.result_icons {
    width: 15px;
    margin-right: 2px;
    margin-bottom: 2px;
}
#swipe-background {
    background-image: url('/img/temp.png');
    /* background-repeat: repeat; */
    /* background-position: 100% center; */
    background-size: auto 100%;
}
.swipe-background-transition {
    transition: background-position 2s ease-in-out;
}